<mat-toolbar color="primary">
  <a routerLink="/">
    <h1>
      Smart auctions on Ethereum
    </h1>
  </a>
</mat-toolbar>

<div *ngIf="_window.ethereum">
  <div class="p-15">
    <div class="row">
      <div class="col-md-8 offset-md-2">

        <div class="text-right mb-3 p-2">
          <span class="badge badge-secondary">Address: {{accountService.currentAccount | shortifyAddress }}</span>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="!_window.ethereum">
  <p class="p-3">
    This DAPP requires Metamask. Please ensure to have Metamask installed.
  </p>
</div>