/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

html,
body {
  height: 100%;
  margin: 0px;
  background-color: #52525212;
}

.p-15 {
  padding: 15px;
}


mat-form-field {
  width: 100%;
}

table {
  width: 100%;

  & tr.mat-row:hover {
    cursor: pointer;
    background-color: #5a53532e;
  }
}

.no-padding .mat-expansion-panel-body {
  padding: 0px;
}


a[href] {
  color: white;
  text-decoration: none;
}

button:focus,
button:active {
  outline: none !important;
}

.badge-primary {
  background-color: #3f51b5 !important;
}